{% load static %} 
<!DOCTYPE html>
<html lang="en">


<!-- molla/index-8.html  22 Nov 2019 09:56:59 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>StreetWear</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/user/assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/user/assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/user/assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/user/assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static '/user/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static '/user/assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static '/user/assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static '/user/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/user/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/user/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/user/assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static '/user/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/user/assets/css/skins/skin-demo-8.css' %}">
    <link rel="stylesheet" href="{% static '/user/assets/css/demos/demo-8.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        .header-icons {
  display: flex;
  align-items: center;
}

.header-icons a {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: #000;
  text-decoration: none;
}


@media (max-width: 576px) {
  .header-icons {
    justify-content: flex-end;
  }
  
  .header-icons a {
    margin-right: 5px;
  }
  
  .header-icons i {
    font-size: 27px;
  }
}

    </style>
   
</head>
<header>
    <div class="page-wrapper">
        
        <header class="header">
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        
                        <a href="{% url 'home' %}" class="logo">
                            <img src="{% static '/user/assets/images/demos/demo-8/logo-no-background.svg' %}" alt="Molla Logo" width="150" height="80">
                        </a>
                    </div>
                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows" id="menu-list">
                                <li class="megamenu-container " data-menu="home">
                                    <a href="{% url 'home' %}" class="">Home</a>
                                </li>
                                <li class="" data-menu="shop">
                                    <a href="{% url 'shop' %}" class="">Shop</a>
                                </li>
                                <li class="" data-menu="pages">
                                    <a href="#" class="">Pages</a>
                                </li>
                                <li class="" data-menu="blog">
                                    <a href="#" class="">Blog</a>
                                </li>
                                  <li class="" data-menu="elements">
                                    <a href="#" class="">Elements</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <form action="{% url 'searchproduct' %}" method="POST">
                            {% csrf_token %}
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" type="submit" ><i class="icon-search"></i></a>
                            
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="productsearch" placeholder="Search in..." id="searchproducts" required>
                                </div><!-- End .header-search-wrapper -->
                            
                        </div><!-- End .header-search -->
                    </form>
                    
                        {% comment %} <form action="{% url 'searchproduct' %}" method="POST">
                            {% csrf_token %}
                            <div class="header-search">
                                <button class="search-toggle" type="submit"><i class="icon-search"></i></button>
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="productsearch" placeholder="Search in..." id="searchproducts" required>
                                </div><!-- End .header-search-wrapper -->
                            </div><!-- End .header-search -->
                        </form> {% endcomment %}
                    

                        <div class="header-icons header-icons d-flex align-items-center">
    
   
                            <a href="{% url 'wishlist' %}" class="wishlist-link">
                                    <i class="icon-heart-o"></i>
                                </a>
                                
                                
                            
                                
                                
                            <a href="{% url 'cart' %}" class="wishlist-link">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                                <a href="{% url 'userprofile' %}" class="wishlist-link">
                                    
                                   
                                    <i class="bi bi-person"></i>
                                        
                                        
                                </a>
                            
                            </div>
                    
                            {% comment %} <a href="{% url 'cart' %}" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                
                                <i class="icon-shopping-cart"></i>
                                
                            </a> {% endcomment %}
                        
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->

</header>
<body>
    {% block body %}
    
    
    
    {% endblock body %}
</body>




<footer class="footer footer-2">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="{% static '/user/assets/images/demos/demo-8/logo-no-background.svg' %}" class="footer-logo" alt="Footer Logo" width="200" height="100">
                        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>
                        
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:123456789">+91 7907055127</a>
                                </div><!-- End .col-sm-6 -->
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="{% static '/user/assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                                    </figure><!-- End .footer-payments -->
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .widget-about-info -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">About Streetwear</a></li>
                            <li><a href="#">How to shop on Streetwear</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="{% url 'cart' %}">View Cart</a></li>
                            <li><a href="{% url 'wishlist' %}">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2023 StreetWear. All Rights Reserved.</p><!-- End .footer-copyright -->
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul><!-- End .footer-menu -->

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div><!-- End .soial-icons -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container">
<div class="mobile-menu-wrapper">
    <span class="mobile-menu-close"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>
    
    <nav class="mobile-nav">
        <ul class="mobile-menu" style="list-style: none;">
            <li class="" >
                <a href="{% url 'home' %}">Home</a>

            </li>
            <li>
                <a href="{% url 'shop' %}">Shop</a>
                
            </li>
            <li>
                <a href="{% url 'cart' %}" class="sf-with-ul">Cart</a>
                
            </li>
            <li>
                <a href="#">Pages</a>
                <ul>
                    
                </ul>
            </li>
            <li>
                <a href="#">Blog</a>

                <ul>
                    <li><a href="#">Classic</a></li>
                    <li><a href="#">Listing</a></li>
                    <li>
                        <a href="#">Grid</a>
                        <ul>
                           
                        </ul>
                    </li>
                    <li>
                        <a href="#">Masonry</a>
                        <ul>
                            
                        </ul>
                    </li>
                    <li>
                        <a href="#">Mask</a>
                        <ul>
                         
                        </ul>
                    </li>
                    <li>
                        <a href="#">Single Post</a>
                        <ul>
                            
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Elements</a>
                <ul>
                    <li><a href="#">Products</a></li>
                    
                </ul>
            </li>
        </ul>
    </nav><!-- End .mobile-nav -->

    <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
    </div><!-- End .social-icons -->
</div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="icon-close"></i></span>
            </button>

            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-content-5">
                        <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                            <form action="#">
                                <div class="form-group">
                                    <label for="singin-email">Username or email address *</label>
                                    <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="singin-password">Password *</label>
                                    <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>LOG IN</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="signin-remember">
                                        <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                    </div><!-- End .custom-checkbox -->

                                    <a href="#" class="forgot-link">Forgot Your Password?</a>
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google-plus-g"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form action="#">
                                <div class="form-group">
                                    <label for="register-email">Your email address *</label>
                                    <input type="email" class="form-control" id="register-email" name="register-email" required>
                                </div><!-- End .form-group -->

                                <div class="form-group">
                                    <label for="register-password">Password *</label>
                                    <input type="password" class="form-control" id="register-password" name="register-password" required>
                                </div><!-- End .form-group -->

                                <div class="form-footer">
                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SIGN UP</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                        <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                    </div><!-- End .custom-checkbox -->
                                </div><!-- End .form-footer -->
                            </form>
                            <div class="form-choice">
                                <p class="text-center">or sign in with</p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login btn-g">
                                            <i class="icon-google-plus-g"></i>
                                            Login With Google
                                        </a>
                                    </div><!-- End .col-6 -->
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-login  btn-f">
                                            <i class="icon-facebook-f"></i>
                                            Login With Facebook
                                        </a>
                                    </div><!-- End .col-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .form-choice -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .modal-body -->
    </div><!-- End .modal-content -->
</div><!-- End .modal-dialog -->
</div><!-- End .modal -->




<!-- Plugins JS File -->
<script src="{% static '/user/assets/js/jquery.min.js' %}"></script>
<script src="{% static '/user/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/user/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static '/user/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static '/user/assets/js/superfish.min.js' %}"></script>
<script src="{% static '/user/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/user/assets/js/jquery.plugin.min.js' %}"></script>
<script src="{% static '/user/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static '/user/assets/js/jquery.countdown.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static '/user/assets/js/main.js' %}"></script>
<script src="{% static '/user/assets/js/demos/demo-8.js' %}"></script>

  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
      var availableTags = [];
      $.ajax({
        method: "GET",
        url: "{% url 'product_list' %}",
      
        success: function (response) {
           startAutocomplete(response);
        }
    });

        function startAutocomplete(availableTags)
        {
            $( "#searchproducts" ).autocomplete({
                source: availableTags
            });
         }
    </script>
    

    <script>
        // Get the menu list
        const menuList = document.getElementById("menu-list");
    
        // Add a click event listener to the menu list
        menuList.addEventListener("click", function(event) {
            // Remove the "active" class from all menu items
            const menuItems = menuList.querySelectorAll("li");
            menuItems.forEach(item => {
                item.classList.remove("active");
            });
    
            // Add the "active" class to the clicked menu item
            const clickedMenuItem = event.target.closest("li");
            if (clickedMenuItem) {
                clickedMenuItem.classList.add("active");
            }
        });
    
        // Set initial active menu item based on the current URL
        const currentURL = window.location.pathname; // Get the path of the current URL
        const menuItems = menuList.querySelectorAll("li");
        menuItems.forEach(item => {
            const menuName = item.getAttribute("data-menu");
            if (currentURL.includes(menuName)) {
                item.classList.add("active");
            }
        });
    </script>
    

</body>


<!-- molla/index-8.html  22 Nov 2019 09:57:25 GMT -->
</html>






