body {
    width: 100%;
    height: 40vw;
    background-image: url(/static/user/img/banner/banner1.png);

    /* background-size: 100%; */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;  
  }
  
  .form {
    height: 517px;
    width: 348px !important;
    background-color: rgba(0, 0, 0, 0.338);
    border-radius: 2%;
    background-repeat: no-repeat;
  }
  
  .message {
    padding: 2px;
    margin-bottom: 2px;
    color: white;
  }
  
  .message.success {
    color: rgb(54, 169, 68);
    
  }
  
  .message.error {
    color: rgb(255, 0, 0);
    
  }
  
  .message.warning {
    color: rgb(255, 236, 22);
    
  }
  