{% extends 'user/home/base.html' %}
{% block title %}HOME{% endblock title %}
{% block body %}
{% load static %}
{% load mathfilters %}
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.9.55/css/materialdesignicons.min.css">




<main class="main product_data" style="padding-bottom: 150px;" >
    <div class="page-header text-center">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <!-- <h3>Apply Coupon</h3> --> 
    {% if not cartitems %}
    <h2 class="text-center"> Thank you, Your order has been successfully placed</h2>
    <br>
    <br>
    <div class="text-center">
        <a href="{%url 'shop'%}" class="btn btn-primary font-weight-bold">Continue Shopping</a>
    </div>
    {% else %}
    <div class="form-outline mb-4 ">
      <div class="input-group">
        <select class="form-select form-select-sm input-small-width input-increased-height couponCode" style="height: 40px; width:25%; font-size: 13px; margin-left: 55px;" id="checkout-discount-input" aria-label=".form-select-sm example" name="coupon_code">
          <option >No Coupon Applied</option>
          {% for c in coupons %}
          <option value="{{ c.coupon_code }}">{{ c.coupon_code }} <span></span></option>
          {% endfor %}
        </select>
        <button class="btn btn-primary btn-apply-coupon CouponButton coupon-form" style="width:30px">Apply Coupon</button>
      </div>
    </div>
    
 
    

    {% if coupons %}
    <h3 style="margin-left: 76px;" > Coupons Available</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for item in coupons %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" style="height: 40px; margin-left: 80px; font-size: small;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
              <span class="text-dark" style="font-size: 13px;">{{forloop.counter}}.</span> <b>-{{item.discount}}% Off {{item.coupon}} </b>
            </button>
          </h2>
          <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample" style="margin-left: 50px;">
            <div class="accordion-body">
              <p><b>*</b>Applicable only for order price more than <b>{{item.min_price}}\-</b></p>
          <span class="ml-3">Coupon Code: <b class="text-danger">{{item.coupon_code}}</b></span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="mb-2" style="margin-left: 76px;"><h3>No Coupons Available</h3></div>
    {% endif %}
    
        <!-- End .page-header -->
          
      
          <div class="page-content">
              <div class="checkout">
                  <div class="container">
      
      

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title fs-5" id="exampleModalLabel">Add Address</h4>
                                <div id="phoneWarning" class="text-danger"></div>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                              <div class="modal-body " style="margin-left: 18px;">
                                <form action="{% url 'addcheckoutaddr' %}" enctype="multipart/form-data" method="POST">
                                  {% csrf_token %}
                                  <div class="row mb-1">
                                      <div class="col-lg-6">
                                          <div class="checkout__input">
                                          <p>First Name<span>*</span></p>
                                          <input type="text" name="firstname" class="form-control" required>
                                          </div>
                                      </div>
                                      <div class="col-lg-6">
                                          <div class="checkout__input">
                                          <p>Last Name<span>*</span></p>
                                          <input type="text" name="lastname" class="form-control" required>
                                          </div>
                                      </div>
                                      </div>
                  
                                      <div class="checkout__input mb-1">
                                          <p>Country<span>*</span></p>
                                          <input type="text" name="country" class="form-control" required>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Address<span>*</span></p>
                                          <input type="text" class="checkout__input__add form-control" name="address" required>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Town/City<span>*</span></p>
                                          <input type="text" name="city" class="form-control" required>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>State<span>*</span></p>
                                          <input type="text" name="state" class="form-control" required>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Postcode / ZIP<span>*</span></p>
                                          <input type="text" name="pincode" class="form-control" required>
                                          </div>
                                          <div class="row mb-1">
                                          <div class="col-lg-6">
                                              <div class="checkout__input">
                                              <p>Phone<span>*</span></p>
                                              <input type="text" name="phone" id="phoneInput" class="form-control" required>

                                              </div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="checkout__input">
                                              <p>Email<span>*</span></p>
                                              <input type="text" name="email" class="form-control" required>
                                              </div>
                                          </div>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Order notes<span>*</span></p>
                                          <input type="text" placeholder="Notes about your order, e.g. special notes for delivery." name="ordernote" class="form-control">
                                          </div>
                                  <div class="d-flex justify-content-center">
                                    <button type="submit"
                                      class="btn btn-success btn-lg gradient-custom-4 w-50 text-light" style="margin-bottom: 23px;">Save </button>
                                  </div>
                                </form>
                          </div>
                        </div>
                      </div>
                    </div>

                       <!-- Modal -->
                 
                      <!-- saved address -->
      
                          <form action="{% url 'placeorder' %}" method="post" id="orderform">
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-lg-6" >
                                      
                                      <br><br>
                                      <!-- <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                          <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                      </div> -->
                                      <!-- <button type="button" class="site-btn mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          New Address
      
                                      </button> -->
                                      
                                      <div class="new-add col-xl-4" >
                                          <div class="card-header" id="heading-11">
                                              <a class="collapsed" role="button"   data-toggle="collapse" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                                                  Shipping to different Address ?
                                              </a>
                                          </div><!-- End .card-header -->
                                          <div id="collapse-11" class="collapse" aria-labelledby="heading-11" data-parent="#accordion-payment">
                                            <button type="button" style="font-size: 16px;" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              Add New Address
                                            </button>   
                                          </div><!-- End .collapse -->
                                      </div>
      
      
                                          <br><br>
                                      <div class="mb-4">
                                          <h4 class=" mb-4" style="font-weight: 300;">Select Address</h4>
                                          
                                          {% for adrs in address %}
                                                  <div class="card mb-3">
                                                   
                                                    <div class="custom-control custom-radio h-100 m-2 d-flex align-items-center">
                                                      <input type="radio" class="custom-control-input " id="{{adrs.id}}" name="address" value="{{adrs.id}}" {% if index == 0 %}checked{% endif %} checked>
                                                      <label class="custom-control-label" for="{{adrs.id}}">{{adrs.first_name}} {{adrs.last_name}}</label>
                                                  </div>
                                                  
                                                        
                                                    <div class="card-body">
                                                      <h5 class="card-title">Mob : {{adrs.phone}}</h5>
                                                      <h5 class="card-title">{{adrs.address}}, {{adrs.pincode}}</h5>
                                                      <p class="card-text">{{adrs.city}}-{{adrs.state}}-{{adrs.country}}</p>
                                                    <div>
                      
                                                    <!-- Button trigger vie address -->
                                                      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#viewaddress{{forloop.counter}}">
                                                        View
                                                      </button>
                                                     
                                                      <!-- Modal -->
                                                      <div class="modal fade" id="viewaddress{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title fs-6" id="staticBackdropLabel">View address</h4>
                                                              <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <i class="fa fa-times"></i>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body" style="margin-left: 25px;">
                      
                                                              <div class="row">
                                                                <div class="col-sm-5">
                                                                  <p class="mb-0">Name</p>
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <input type="hidden" value="{{ adrs.first_name}} {{ adrs.last_name}} " name="first_name">
                                                                    {{ adrs.first_name}} {{ adrs.last_name}} 
                                                                </div>
                                                              </div>
                                                              <hr>
              
                                                              <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Phone</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.phone}}
                                                                      <input type="hidden" value="{{ adrs.phone}}" name="phone">
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Email</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.email}}
                                                                      <input type="hidden" value="{{ adrs.email}}" name="email">
              
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                              <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Address</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.address}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Town/City</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.city}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Postcode / ZIPy</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.pincode}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">State</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.state}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Country</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.country}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                            </div>
                                                            <div class="modal-footer" style="display: flex;align-items: baseline;justify-content: center;">
                                                              <form method="post" action="{% url 'deleteaddresscheckout' adrs.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">Delete Address</button>
                                                              </form>
                                                                <!--Delete Modal -->
                                                                <div class="modal fade" id="deletaddress{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                  <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <h5 class="" id="exampleModalLabel">Delete</h5>
                                                                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"> <i class="fa fa-times" ></i></button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                        <p>Are you sure to delete Address <span class="text-primary">" {{adrs.first_name}} {{adrs.last_name}} ..."</span></p>
                                                                        
                                                                          <div class="d-flex justify-content-center">
                                                                            <a type="button" href="#"
                                                                              class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Confirm</a>
                                                                          </div>
                                                      
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    
                                                   </div>
                                                   
                                              </div>
                                             
                                              </div>
                                              {% endfor %}
                                          <div class="card-body">
                                            {% if not address %}<h5 class="card-title">No address saved</h5>{% endif %}
                                            <p class="card-text"> </p>
                                            <div>
                                            </div>
                                          </div>
                                      </div>
      
                                      <div class="order-note">
                                          <label>Order notes (optional)</label>
                                     
                                          <textarea class="form-control" cols="30" rows="4" name="ordernote" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                      </div>
      
      
                                  </div>
                              <aside class="col-lg-6 " >
                               
                                  <div class="summary " style="float:right">
                                   
                                      <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
      
                                      <table class="table table col-lg-12 tabledata" style="font-weight: bolder;" >
                                        <thead>
                                          <tr style="text-align: center;">
                                            <th>Product</th >
                                            <th></th>
                                        
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th></th>
                                          </tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                          {% for i in cartitems %}
                                          <tr style="text-align: center;">
                                            <td><a href="#">{{ i.product }}</a></td>
                                            <td></td> 
                                            <td>{{ i.product_qty }}</td>
                                            <td class="column-3">
                                              {% if i.product.offer or i.product.brand.offer %}
                                                  <del class="text-danger">₹ {{ i.product.product_price }}</del>
                                                  ₹ {{ i.product.get_offer }}
                                              {% else %}
                                                  ₹ {{ i.product.product_price }}
                                              {% endif %}
                                          </td>
                                          
                                          </tr>
                                          {% endfor %}
                                          <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ total_price }}</td>
                                          </tr>
                                          <tr>
                                            <td>Shipping:</td>
                                            <td></td>
                                            <td></td>
                                            <td>Free shipping</td>
                                          </tr>
                                          <div class="cartdata">
                                          <tr class="summary-coupon">
                                            {% if CouponUsage %}
                                                <td>Coupon Applied:</td>
                                                <td></td>
                                                <td>{{ CouponUsage.coupon.coupon }}</td>
                                                <td>
                                                     -{{ CouponUsage.coupon.discount }}%
                                                </td>
                                                <td>
                                                    <a href="#" class="remove-coupon" data-coupon-code="{{ CouponUsage.coupon.coupon_code }}"><i style="font-size: 20px; margin-right: 5px;" class="mdi mdi-close"></i></a>
                                                </td>
                                            {% else %}
                                                <td>Coupon:</td>
                                                <td></td>
                                                <td></td>
                                                <td>No Coupon Applied</td>
                                            {% endif %}
                                        </tr>
                                          <tr class="summary-tax">
                                            <td>Tax:</td>
                                            <td></td>
                                            <td></td>
                                            <td contenteditable="true">(Included in MRP)</td>
                                          </tr>
                                         
                                          {% if CouponUsage %}
                                          <!-- <tr>
                                            <td >Discount:</td>
                                            <td></td>
                                            <td></td>
                                            <td><span id="discount">- ₹{{ discount}}</span></td>
                                          </tr> -->
                                          <tr class="summary-total">
                                            <td>Total:</td>
                                            <td></td>
                                            <td></td>
                                            <td><span id="discounted_price">₹{{ CouponUsage.total_price }}</span>
                                          </tr>
                                          {% else %}
                                          <tr>
                                            <td>Total:</td>
                                            <td></td>
                                            <td></td>
                                            <td >₹{{ grand_total }}</td>
                                          </tr>
                                          {% endif %}
                                          <input type="hidden" class="grand_total" id="grand_total_display" value="{{ grand_total }}">
                                        </div>
                                          
                                        </tbody>
                                      </table>
                                    
                                     
                                      
      
                                      <div class="accordion-summary" id="accordion-payment">
                                   
                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-5" data-payment-method="cod" role="button"  >
                                                    Cash on delivery
                                                 
                                                    
                                                </a>
                                                       
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                data-parent="#accordion-payment">
                                                <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                    amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                    eros.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
    
                                        <div class="card">
                                            <div class="card-header" id="payment" data-payment-method="razorpay">
                                                <h2 class="card-title">
                                                   
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-4" aria-expanded="false" aria-controls="collapse-5"   id="payment" data-payment-method="razorpay" role="button"   >
                                                    Razor pay
                                                 
                                                    
                                                </a> 
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                                    semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis
                                                    fermentum.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
    
                                        <div class="card">
                                          <div class="card-header" id="heading-111">
                                              <h2 class="card-title">
                                                  <a class="collapsed" id="payment" data-payment-method="wallet" role="button" data-toggle="collapse" href="#collapse-111" aria-expanded="false" aria-controls="collapse-111">
                                                     Wallet 
                                                  </a>
                                              </h2>
                                          </div><!-- End .card-header -->
                                          <div id="collapse-111" class="collapse" aria-labelledby="heading-111" data-parent="#accordion-payment">
                                              <div class="card-body">
                                                  Nullam malesuada erat ut turpis.
                                              </div>
                                           </div>
                                      </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                    
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block purchase placeorder" id="orderform">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
      
                                        
                                    </button>
                                    <br><br>
                                    
                                    
                                 
                                  </div><!-- End .summary -->
                                  
                                  
                                  <!-- Coupon options -->
                             
                              </aside><!-- End .col-lg-3 -->
                          </div><!-- End .row -->
                      </form>
                      <!-- end form -->
                     
                  </div><!-- End .container -->
              </div><!-- End .checkout -->
          </div><!-- End .page-content -->
          {% endif %}

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
          <script>
            $(document).ready(function() {
              // Add event listener to the form submission
              $("form").submit(function(event) {
                // Get the entered phone number
                var phoneNumber = $("#phoneInput").val();
                
                // Check if the phone number is less than 10 or greater than 10 characters
                if (phoneNumber.length < 10 || phoneNumber.length > 10 || isNaN(phoneNumber)) {
                  // Prevent the form from submitting
                  event.preventDefault();
                  
                  // Display the warning message
                  $("#phoneWarning").text("Please enter a 10-digit valid phone number.");
                } else {
                  // Clear the warning message
                  $("#phoneWarning").text("");
                }
              });
            });
            </script>
            



          <script>
            $(document).ready(function() {
                $('.purchase').click(function(e) {
                    e.preventDefault();
        
                    var fname = $("[name='first_name']").val();
                    var phone = $("[name='phone']").val();
                    var email = $("[name='email']").val();
                    var order_note = $("[name='ordernote']").val();
                    var token = $("[name='csrfmiddlewaretoken']").val();
                    var selectedAddress = $("input[name='address']:checked").val();
                    var paymentMethod = $("a[data-toggle='collapse'][aria-expanded='true']").data('payment-method');
                    console.log(paymentMethod,'daxoooooooo')
        
                    if (!selectedAddress) {
                        Swal.fire("Alert!", "Address field is mandatory!", "error");
                        console.log('Address field is empty');
                        return false;
                    }
        
                    if (!paymentMethod) {
                        Swal.fire("Alert!", "Payment field is mandatory!", "error");
                        console.log('Payment method is not selected');
                        return false;
                    }
        
                    var data = {
                        "payment_method": paymentMethod,
                        "order_note": order_note,
                        "address": selectedAddress,
                        "csrfmiddlewaretoken": token
                    };
        
                   
        
                    // Check the selected payment method and execute the corresponding AJAX request
                    
                    if (paymentMethod === "wallet") {
                      $.ajax({
                          method: "POST",
                          url: "{% url 'placeorder' %}",
                          data: data,
                          dataType: 'json'
                      }).done(function(response) {
                          console.log("Response received:", response);
          
                          if (response.status === 'Your wallet amount is very low') {
                              console.log("Wallet amount is low. Showing error Swal...");
                              Swal.fire({
                                  title: "Error!",
                                  text: response.status,
                                  icon: "error",
                                  timer: 3000
                              }).then(() => {
                                  console.log("Error Swal closed.");
                              });
                          } else if (response.status === 'Your order has been placed successfully') {
                              console.log("Order placed successfully. Showing success Swal...");
                              Swal.fire({
                                  title: "Congratulations!",
                                  text: response.status,
                                  icon: "success",
                                  timer: 3000
                              }).then(() => {
                                  console.log("Success Swal closed. Redirecting to shop...");
                                  window.location.href = '{% url 'shop' %}';
                              });
                          } else {
                              console.log("Other response status. Showing error Swal...");
                              Swal.fire({
                                  title: "Error!",
                                  text: response.status,
                                  icon: "error",
                                  timer: 3000
                              }).then(() => {
                                  console.log("Error Swal closed.");
                                  window.location.href = '{% url 'shop' %}';
                              });
                          }
          
                      }).fail(function(xhr, errmsg, err) {
                          alert('Error: ' + errmsg);
                          console.log(xhr.responseText);
                          console.log(err);
                      });
                  }else if (paymentMethod === "cod") {
                        $.ajax({
                            method: "POST",
                            url: "{% url 'placeorder' %}",
                            data: data,
                            dataType: 'json'
                        }).done(function(response) {
                            console.log(response);
        
                            if (response.status === 'Address fields is mandatory!' || response.status === 'Please select any Payment option') {
                                Swal.fire("Error!", response.status, "error");
                                $('.placeorder').load(location.href + " .placeorder");
                            } else if (response.status === 'Your order has been placed successfully') {
                                Swal.fire("Congratulations!", response.status, "success").then((value) => {
                                    window.location.href = '{% url 'shop' %}';
                                });
                            } else {
                                Swal.fire("Error!", response.status, "error");
                                $('.placeorder').load(location.href + " .placeorder");
                            }
                        }).fail(function(xhr, errmsg, err) {
                            alert('Error: ' + errmsg);
                            console.log(xhr.responseText);
                            console.log(err);
                        });
                    } else if (paymentMethod === "razorpay") {
                        $.ajax({
                            method: "GET",
                            url: "{% url 'razarypaycheck' %}",
                            success: function(response) {
                                var options = {
                                    "key": "rzp_test_TxRdHkYPhOq4dp",
                                    "amount": 1 * 100,
                                    "currency": "INR",
                                    "name": "StreetWear",
                                    "description": "Thank you for buying with us",
                                    "image": "https://example.com/your_logo",
                                    "handler": function(responseb) {
                                        data = {
                                            "payment_method": "razorpay",
                                            "payment_id": responseb.razorpay_payment_id,
                                            "address": selectedAddress,
                                            "csrfmiddlewaretoken": token
                                        };
        
                                        $.ajax({
                                            method: "POST",
                                            url: "{% url 'placeorder' %}",
                                            data: data,
                                            success: function(responsec) {
                                                Swal.fire("Congratulations!",'Your order has been placed successfully', "success").then((value) => {
                                                    window.location.href = '{% url 'shop' %}';
                                                });
                                            }
                                        });
                                    },
                                    "prefill": {
                                        "name": fname,
                                        "email": email,
                                        "contact": phone,
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };
        
                                var rzp1 = new Razorpay(options);
                                rzp1.on('payment.failed', function(response) {
                                    alert(response.error.code);
                                    alert(response.error.description);
                                    alert(response.error.source);
                                    alert(response.error.step);
                                    alert(response.error.reason);
                                    alert(response.error.metadata.order_id);
                                    alert(response.error.metadata.payment_id);
                                });
                                rzp1.open();
                            }
                        });
                    }
                });
            });
        </script>
    {% for message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    text: "{{ message }}",
                    timer: 4000, // Adjust the timer to control how long each alert stays visible (in milliseconds)
                });
            });
        </script>
    {% endfor %}

<script>
  $(document).ready(function() {
    // Existing code...

    // Add a click event for the remove coupon link
    $('.remove-coupon').click(function(e) {
      e.preventDefault();
      var token = $("[name='csrfmiddlewaretoken']").val();
      var couponCode = $(this).data('coupon-code'); // Assuming you have a data attribute to store the coupon code
      console.log(couponCode,'daxooooooooo')
      $.ajax({
        method: "POST",
        url: "{% url 'remove_coupon' %}",
        data: {
          csrfmiddlewaretoken: token,
          coupon_code: couponCode // Pass the coupon code to remove
        },
        dataType: 'json',
        success: function(response) {
          swal("Coupon Removed", "Coupon has been removed.", "success");
          // Redirect to refresh the page and update the displayed coupon info
          window.location.href = "{% url 'checkout' %}";
        },
        error: function(xhr, errmsg, err) {
          swal("Error!", "An error occurred.", "error");
          console.log('AJAX error:', err);
        }
      });
    });
  });
</script>



<script>
  $(function() {
    $('.coupon-form').click(function(e) {
      e.preventDefault();
 
    var grand_total = $(this).closest('.product_data').find('.grand_total').val();
    var couponCode = $(this).closest('.product_data').find('.couponCode').val();
    console.log(couponCode,'daxooo')
    console.log(grand_total,'daxooo grand_total')

    var token = $('input[name=csrfmiddlewaretoken]').val();
    
    $.ajax({
      method: "POST",
      url: "{%url 'apply_coupon'%}", 
      data: {
        'coupon_code': couponCode,
        'grand_total' :grand_total,
      
        csrfmiddlewaretoken: '{{csrf_token}}',
        
      },
      success: function (response){
        console.log(response)
      if (response.status === 'Field is blank' || response.status === 'Coupon does not exist' || response.status === 'Coupon already used!' || response.status === 'You are not eligible for this coupon') {
          swal("Error!", response.status, "error")
          $('.cartdata').load(location.href + " .cartdata");
      }else if (response.status === 'Coupon added successfully'){
        swal("Congratulations!.", response.status, "success")
          $('.cartdata').load(location.href + " .cartdata");
      }else{
        swal("Error!", response.status, "error")
        $('.cartdata').load(location.href + " .cartdata");
      }
      var discounted_price = document.getElementById('discounted_price').value
      discounted_price.textContent=response.grand_total
      document.getElementById('discount').textContent = (response.discount).toFixed(2);
    }
    });
  });
  });
  
  </script> 
</main>


      
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


{% endblock body %}