{% extends 'user/home/base.html' %}
{% block title %}HOME{% endblock title %}
{% block body %}
{% load static %}


<main class="main" style="padding-bottom: 150px;">
    <div class="page-header text-center" style="background-image: url('{% static '/user/assets/images/page-header-bg.jpg' %}')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <!-- <h3>Apply Coupon</h3> --> 
    {% if not cartitems %}
    <h2 class="text-center"> Thank you, Your order has been successfully placed</h2>
    <br>
    <br>
    <div class="text-center">
        <a href="{%url 'shop'%}" class="btn btn-primary font-weight-bold">Continue Shopping</a>
    </div>
    {% else %}
    <div class="form-outline mb-4">
      <div class="input-group">
        <select class="form-select form-select-sm input-small-width input-increased-height couponCode" style="height: 40px; width:25%; font-size: 13px; margin-left: 55px;" id="checkout-discount-input" aria-label=".form-select-sm example" name="coupon_code">
          <option >No Coupon Applied</option>
          {% for c in coupons %}
          <option value="{{ c.coupon_code }}">{{ c.coupon_code }} <span></span></option>
          {% endfor %}
        </select>
        <button class="btn btn-primary btn-apply-coupon CouponButton coupon-form" style="width:30px">Apply Coupon</button>
      </div>
    </div>
    
 
    

    {% if coupons %}
    <h3 style="margin-left: 76px;" > Coupons Available</h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for item in coupons %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading{{ forloop.counter }}">
            <button class="accordion-button collapsed" style="height: 40px;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
              <span class="text-dark" style="font-size: 13px;">{{forloop.counter}}.</span> <b>-{{item.discount}}% Off {{item.coupon}} </b>
            </button>
          </h2>
          <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p><b>*</b>Applicable only for order price more than <b>{{item.min_price}}\-</b></p>
          <span class="ml-3">Coupon Code: <b class="text-danger">{{item.coupon_code}}</b></span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="mb-2" style="margin-left: 76px;"><h3>No Coupons Available</h3></div>
    {% endif %}
    
        <!-- End .page-header -->
          
      
          <div class="page-content">
              <div class="checkout">
                  <div class="container">
      
      

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title fs-5" id="exampleModalLabel">Add Address</h4>
                                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <i class="fa fa-times"></i>
                                </button>
                              </div>
                              <div class="modal-body " style="margin-left: 18px;">
                                <form action="{% url 'addcheckoutaddr' %}" enctype="multipart/form-data" method="POST">
                                  {% csrf_token %}
                                  <div class="row mb-1">
                                      <div class="col-lg-6">
                                          <div class="checkout__input">
                                          <p>First Name<span>*</span></p>
                                          <input type="text" name="firstname" class="form-control">
                                          </div>
                                      </div>
                                      <div class="col-lg-6">
                                          <div class="checkout__input">
                                          <p>Last Name<span>*</span></p>
                                          <input type="text" name="lastname" class="form-control">
                                          </div>
                                      </div>
                                      </div>
                  
                                      <div class="checkout__input mb-1">
                                          <p>Country<span>*</span></p>
                                          <input type="text" name="country" class="form-control">
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Address<span>*</span></p>
                                          <input type="text" class="checkout__input__add form-control" name="address">
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Town/City<span>*</span></p>
                                          <input type="text" name="city" class="form-control">
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>State<span>*</span></p>
                                          <input type="text" name="state" class="form-control">
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Postcode / ZIP<span>*</span></p>
                                          <input type="text" name="pincode" class="form-control">
                                          </div>
                                          <div class="row mb-1">
                                          <div class="col-lg-6">
                                              <div class="checkout__input">
                                              <p>Phone<span>*</span></p>
                                              <input type="text" name="phone" class="form-control">
                                              </div>
                                          </div>
                                          <div class="col-lg-6">
                                              <div class="checkout__input">
                                              <p>Email<span>*</span></p>
                                              <input type="text" name="email" class="form-control">
                                              </div>
                                          </div>
                                          </div>
                                          <div class="checkout__input mb-1">
                                          <p>Order notes<span>*</span></p>
                                          <input type="text" placeholder="Notes about your order, e.g. special notes for delivery." name="ordernote" class="form-control">
                                          </div>
                                  <div class="d-flex justify-content-center">
                                    <button type="submit"
                                      class="btn btn-success btn-lg gradient-custom-4 w-50 text-light" style="margin-bottom: 23px;">Save </button>
                                  </div>
                                </form>
                          </div>
                        </div>
                      </div>
                    </div>

                       <!-- Modal -->
                 
                      <!-- saved address -->
      
                          <form action="{% url 'placeorder' %}" method="post" id="orderform">
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-lg-6" >
                                      
                                      <br><br>
                                      <!-- <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                          <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
                                      </div> -->
                                      <!-- <button type="button" class="site-btn mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                          New Address
      
                                      </button> -->
                                      
                                      <div class="new-add col-xl-4" >
                                          <div class="card-header" id="heading-11">
                                              <a class="collapsed" role="button"   data-toggle="collapse" href="#collapse-11" aria-expanded="false" aria-controls="collapse-11">
                                                  Shipping to different Address ?
                                              </a>
                                          </div><!-- End .card-header -->
                                          <div id="collapse-11" class="collapse" aria-labelledby="heading-11" data-parent="#accordion-payment">
                                            <button type="button" style="font-size: 16px;" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                              Add New Address
                                            </button>   
                                          </div><!-- End .collapse -->
                                      </div>
      
      
                                          <br><br>
                                      <div class="mb-4">
                                          <h4 class=" mb-4" style="font-weight: 300;">Select Address</h4>
                                          
                                          {% for adrs in address %}
                                                  <div class="card mb-3">
                                                   
                                                    <div class="custom-control custom-radio h-100 m-2 d-flex align-items-center">
                                                      <input type="radio" class="custom-control-input " id="{{adrs.id}}" name="address" value="{{adrs.id}}" {% if index == 0 %}checked{% endif %} checked>
                                                      <label class="custom-control-label" for="{{adrs.id}}">{{adrs.first_name}} {{adrs.last_name}}</label>
                                                  </div>
                                                  
                                                        
                                                    <div class="card-body">
                                                      <h5 class="card-title">Mob : {{adrs.phone}}</h5>
                                                      <h5 class="card-title">{{adrs.address}}, {{adrs.pincode}}</h5>
                                                      <p class="card-text">{{adrs.city}}-{{adrs.state}}-{{adrs.country}}</p>
                                                    <div>
                      
                                                    <!-- Button trigger vie address -->
                                                      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#viewaddress{{forloop.counter}}">
                                                        View
                                                      </button>
                                                     
                                                      <!-- Modal -->
                                                      <div class="modal fade" id="viewaddress{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h4 class="modal-title fs-6" id="staticBackdropLabel">View address</h4>
                                                              <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <i class="fa fa-times"></i>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body" style="margin-left: 25px;">
                      
                                                              <div class="row">
                                                                <div class="col-sm-5">
                                                                  <p class="mb-0">Name</p>
                                                                </div>
                                                                <div class="col-sm-7">
                                                                    <input type="hidden" value="{{ adrs.first_name}} {{ adrs.last_name}} " name="first_name">
                                                                    {{ adrs.first_name}} {{ adrs.last_name}} 
                                                                </div>
                                                              </div>
                                                              <hr>
              
                                                              <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Phone</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.phone}}
                                                                      <input type="hidden" value="{{ adrs.phone}}" name="phone">
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Email</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.email}}
                                                                      <input type="hidden" value="{{ adrs.email}}" name="email">
              
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                              <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Address</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.address}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Town/City</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.city}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Postcode / ZIPy</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.pincode}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">State</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.state}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                                <div class="row">
                                                                  <div class="col-sm-5">
                                                                    <p class="mb-0">Country</p>
                                                                  </div>
                                                                  <div class="col-sm-7">
                                                                      {{ adrs.country}}
                                                                  </div>
                                                                </div>
                                                                <hr>
              
                                                            </div>
                                                            <div class="modal-footer">
                                                              <a  class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#deletaddress{{forloop.counter}}">
                                                                delete
                                                              </a>
                                                  
                                                                <!--Delete Modal -->
                                                                <div class="modal fade" id="deletaddress{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                  <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                      <div class="modal-header">
                                                                        <h5 class="" id="exampleModalLabel">Delete</h5>
                                                                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"> <i class="fa fa-times" ></i></button>
                                                                      </div>
                                                                      <div class="modal-body">
                                                                        <p>Are you sure to delete Address <span class="text-primary">" {{adrs.first_name}} {{adrs.last_name}} ..."</span></p>
                                                                        
                                                                          <div class="d-flex justify-content-center">
                                                                            <a type="button" href="#"
                                                                              class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light">Confirm</a>
                                                                          </div>
                                                      
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    
                                                   </div>
                                                   
                                              </div>
                                             
                                              </div>
                                              {% endfor %}
                                          <div class="card-body">
                                            {% if not address %}<h5 class="card-title">No address saved</h5>{% endif %}
                                            <p class="card-text"> </p>
                                            <div>
                                            </div>
                                          </div>
                                      </div>
      
                                      <div class="order-note">
                                          <label>Order notes (optional)</label>
                                     
                                          <textarea class="form-control" cols="30" rows="4" name="ordernote" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                      </div>
      
      
                                  </div>
                              <aside class="col-lg-6 product_data" >
                               
                                  <div class="summary " style="float:right">
                                   
                                      <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
      
                                      <table class="table table-summary col-lg-6 tabledata">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th></th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in cartitems %}
                                            <tr>
                                                <td><a href="#">{{ i.product }}</a></td>
                                                <td></td>
                                                <td>{{ i.product_qty }}</td>
                                                <td class="column-3">
                                                    {% if i.product.offer or i.product.brand.offer %}
                                                    <del class="text-danger">₹ {{ i.product.product_price }}</del>
                                                    ₹ {{ i.product.get_offer }}
                                                    {% else %}
                                                    ₹ {{ i.product.product_price }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            <tr class="summary-subtotal">
                                                <td colspan="3" class="text-end">Subtotal:</td>
                                                <td>₹{{ total_price }}.00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-end">Shipping:</td>
                                                <td>Free shipping</td>
                                            </tr>
                                            <div class="cartdata">
                                                <tr class="summary-coupon">
                                                    {% if CouponUsage %}
                                                    <td colspan="3" class="text-end">Coupon Applied:</td>
                                                    <td>
                                                        {{ CouponUsage.coupon.coupon }} -{{ CouponUsage.coupon.discount }}%
                                                        <a href="#" class="remove-coupon" data-coupon-code="{{ CouponUsage.coupon.coupon_code }}">X</a>
                                                    </td>
                                                    {% else %}
                                                    <td colspan="3" class="text-end">Coupon:</td>
                                                    <td>No Coupon Applied</td>
                                                    {% endif %}
                                                </tr>
                                                <tr class="summary-tax">
                                                    <td colspan="3" class="text-end">Tax:</td>
                                                    <td contenteditable="true">(Included in MRP)</td>
                                                </tr>
                                    
                                                {% if CouponUsage %}
                                                <tr>
                                                    <td colspan="3" class="text-end">Discount:</td>
                                                    <td><span id="discount">- ₹{{ coupon_discount }}</span></td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td colspan="3" class="text-end">Total:</td>
                                                    <td><span id="discounted_price">₹{{ CouponUsage.total_price }}</span></td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td colspan="3" class="text-end">Total:</td>
                                                    <td>₹{{grand_total | floatformat:2}}</td>
                                                </tr>
                                                {% endif %}
                                                <input type="hidden" class="grand_total" id="grand_total_display" value="{{ grand_total }}">
                                            </div>
                                        </tbody>
                                    </table>
                                    
                                      <!-- <div class="cartdata">
                                        <ul class="checkout__total__all">
                                            <li>Subtotal <span>₹{{total_price}}</span></li>
                                            {%if usercoupon%}
                                            <li>Discount <span id="discount">{{ usercoupon.coupon.discount }}</span>%</li>
                                            <li>Total <span id="grand_total">₹{{usercoupon.total_price}}</span></li>
                                            {% else %}
                                            <li>Total <span id="grand_total">₹{{grand_total}}</span></li>
                                            {% endif %}
                                            <input type="hidden" class="grand_total" id="grand_total" value="{{grand_total}}">
                                        </ul></div> -->
                                      <!-- {%if usercoupon%}
                                      <li>Discount <span id="discount">{{ usercoupon.coupon.discount }}</span>%</li>
                                      <li>Total <span id="grand_total">₹{{usercoupon.total_price}}</span></li>
                                      {% else %}
                                      <li>Total <span id="grand_total">₹{{grand_total}}</span></li>
                                      {% endif %}
                                      <input type="hidden" class="grand_total" id="grand_total" value="{{grand_total}}"> -->
                                      
      
                                      <div class="accordion-summary" id="accordion-payment">
                                   
                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-3" aria-expanded="false" aria-controls="collapse-5" data-payment-method="cod" role="button"  >
                                                    Cash on delivery
                                                 
                                                    
                                                </a>
                                                       
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                data-parent="#accordion-payment">
                                                <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit
                                                    amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                                                    eros.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
    
                                        <div class="card">
                                            <div class="card-header" id="payment" data-payment-method="razorpay">
                                                <h2 class="card-title">
                                                   
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                    href="#collapse-4" aria-expanded="false" aria-controls="collapse-5"   id="payment" data-payment-method="razorpay" role="button"   >
                                                    Razor pay
                                                 
                                                    
                                                </a> 
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non,
                                                    semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis
                                                    fermentum.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
    
                                        <div class="card">
                                            <div class="card-header" id="heading-5">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse"
                                                        href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                        Credit Card 
                                                        <img src="{% static 'cart/payments-summary.png' %}"
                                                            alt="payments cards">
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                data-parent="#accordion-payment">
                                                <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem
                                                    ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
                                                    volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                    
                                    <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block purchase placeorder" id="orderform">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
      
                                        
                                    </button>
                                    <br><br>
                                    
                                    
                                 
                                  </div><!-- End .summary -->
                                  
                                  
                                  <!-- Coupon options -->
                             
                              </aside><!-- End .col-lg-3 -->
                          </div><!-- End .row -->
                      </form>
                      <!-- end form -->
                     
                  </div><!-- End .container -->
              </div><!-- End .checkout -->
          </div><!-- End .page-content -->
          {% endif %}

          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
          <script>
            $(document).ready(function() {
                $('.purchase').click(function(e) {
                    e.preventDefault();
          
                    var fname = $("[name='first_name']").val();
                    var phone = $("[name='phone']").val();
                    var email = $("[name='email']").val();
                    var order_note = $("[name='ordernote']").val();
                    var token = $("[name='csrfmiddlewaretoken']").val();
                    var selectedAddress = $("input[name='address']:checked").val();
                    var paymentMethod = $("a[data-toggle='collapse'][aria-expanded='true']").data('payment-method');
          
                    if (!selectedAddress) {
                        Swal.fire("Alert!", "Address field is mandatory!", "error");
                        console.log('Address field is empty');
                        return false;
                    }if (!paymentMethod) {
                          Swal.fire("Alert!", "payment field is mandatory!", "error");
                          console.log('Address field is empty');
                          return false;    
                    } else {
                        var data = {
                            "payment_method": paymentMethod,
                            "order_note": order_note,
                            "address": selectedAddress,
                            "csrfmiddlewaretoken": token
                        };
          
                        console.log(data, '11111111111111111111111');
          
                        // Check the selected payment method and execute the corresponding AJAX request
                        if (paymentMethod === "cod") {
                          $.ajax({
                              method: "POST",
                              url: "{% url 'placeorder' %}",
                              data: data,
                              dataType: 'json'
                          }).done(function(response) {
                              console.log(response);
          
                              if (response.status === 'Address fields is mandatory!' || response.status === 'Please select any Payment option') {
                                  Swal.fire("Error!", response.status, "error");
                                  $('.placeorder').load(location.href + " .placeorder");
                              } else if (response.status === 'Your order has been placed successfully') {
                                  Swal.fire("Congratulations!", response.status, "success").then((value) => {
                                      window.location.href = '{% url 'shop' %}';
                                  });
                              } else {
                                  Swal.fire("Error!", response.status, "error");
                                  $('.placeorder').load(location.href + " .placeorder");
                              }
                          }).fail(function(xhr, errmsg, err) {
                              alert('Error: ' + errmsg);
                              console.log(xhr.responseText);
                              console.log(err);
                          });
                      }
                        
                        else if (paymentMethod === "razorpay") {
                            // The Razorpay code from the second script goes here
                            $.ajax({
                              method:"GET",
                              url:"{% url 'razarypaycheck' %}",
                              success: function(response) {
                               var options = {
                                 "key": "rzp_test_TxRdHkYPhOq4dp", // Enter the Key ID generated from the Dashboard
                                 "amount": 1*100,// Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                 //"amount": 1*100,//response.total_price * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                 "currency": "INR",
                                 "name": "StreetWear",
                                 "description": "Thank you for buying with us",
                                 "image": "https://example.com/your_logo",
                                 //"order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                 "handler": function (responseb){
                                  // alert(responseb.razorpay_payment_id);
                                     data = {
                                       
                                       "payment_method" : "razorpay",
                                       "payment_id" : responseb.razorpay_payment_id,
                                       "address": selectedAddress,
                                       csrfmiddlewaretoken: token
                                       
                                     }
          
                                       $.ajax({
                                         method:"POST",
                                         url:"{% url 'placeorder' %}",
                                         data: data,
                                         success: function (responsec) {
                                           
                                           Swal.fire("Congratulations!", responsec.status,"success" ).then((value) => {
                                           window.location.href = '{% url 'shop' %}'
                                              
                                           });
                                         }
                   
                                     });
                                 },
                                 "prefill": {
                                     "name": fname,
                                     "email" : email,
                                     'contact' : phone,
                                 },
                                 
                                 "theme": {
                                     "color": "#3399cc"
                                 }
                             };
                             var rzp1 = new Razorpay(options);
                             rzp1.on('payment.failed', function (response){
                                     alert(response.error.code);
                                     alert(response.error.description);
                                     alert(response.error.source);
                                     alert(response.error.step);
                                     alert(response.error.reason);
                                     alert(response.error.metadata.order_id);
                                     alert(response.error.metadata.payment_id);
                             });
                             rzp1.open();
                               console.log(responsec);
                   
                              }
                           });
                        } 
                    }
                });
            });
            
          </script>  
  
    {% for message in messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                Swal.fire({
                    text: "{{ message }}",
                    timer: 5000, // Adjust the timer to control how long each alert stays visible (in milliseconds)
                });
            });
        </script>
    {% endfor %}
</main>
      
      
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


{% endblock body %}